[submodule "drawer"]
	path = drawer
	url = https://github.com/membrane-io/membrane-drawer.git
[submodule "email"]
	path = email
	url = https://github.com/membrane-io/membrane-email.git
[submodule "http"]
	path = http
	url = https://github.com/membrane-io/membrane-http.git
[submodule "sms"]
	path = sms
	url = https://github.com/membrane-io/membrane-sms.git
[submodule "height"]
	path = height
	url = https://github.com/membrane-io/membrane-driver-height.git
